<!-- <div *ngIf="inventory" class="row mt-5"> -->
<mdb-card *ngIf="inventory">
    <!-- <div class="col-md-12">
      <div class="card card-cascade narrower mt-5">
        <div class="view gradient-card-header blue darken-2">
          <h1 id="title" class="h1-responsive text-white">Edit Inventory Item</h1>
          <h3 id="item" class="h3-responsive text-white">{{inventory.item.name}}</h3>
        </div> -->
  <mdb-card-body>
    <mdb-card-title class="blue darken-2">
        <h1 id="title" class="h1-responsive title">Edit Inventory Item</h1>
        <h3 id="item" class="h3-responsive title">{{inventory.item.name}}</h3>
    </mdb-card-title>
          <table class="table table-striped">
            <thead class="mdb-color darken-3">
                <tr class="text-white">
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <!--Table head-->
            <tbody>
              <tr>
                  <th><h5 class="label">Price:</h5></th>
                  <td><h5>$<input id="price" value="{{InventoryService.makeItemPriceString(inventory.item)}}" type="number" min="0" step="0.01"></h5></td>
              </tr>
              <tr>
                  <th><h5 class="label">Stock:</h5></th>
                  <td><h5>&nbsp;&nbsp;<input id="stock" value="{{inventory.stock}}" type="number" min="0" step="1"></h5></td>
              </tr>
              <tr></tr>
            </tbody>
        </table>
      <!-- </div>
    </div> -->
    <!-- <a href="employee/inventory" class="btn btn-primary"
            (click)="addToInventory(inventory)">Submit</a> -->
    <button class="btn btn-primary" (click)="addToInventory(inventory)">Submit</button>
    <a [routerLink]="['../']" class="btn btn-danger">Cancel</a>
  <!-- </div> -->
  </mdb-card-body>
</mdb-card>