<mdb-card>
  <!-- <div class="row mt-5"> -->
  <mdb-card-header class="info-color white-text text-center pb-2 pt-4">
    <h1 id="title" class="h1-responsive title">Inventory Items</h1>
    <a [routerLink]="['/inventory/add']" class="btn default-color addbutton">
      Add To Inventory</a>
  </mdb-card-header>
  <mdb-card-body>
    <!-- <div class="card card-cascade narrower mt-5">
        <div class="view gradient-card-header blue darken-2">
          <h1 id="title" class="h1-responsive text-white">Inventory Items</h1>
          <div id="addbutton">
              <a href="employee/inventory/add" class="btn btn-danger">
              Add To Inventory</a>
              </div>
        </div> -->
    <table class="table table-striped">
      <thead class="mdb-color darken-3">
        <tr class="text-white">
          <th>ID</th>
          <th>Item</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Package Date</th>
          <th>Use By</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <!--Table head-->
      <tbody>
        <tr *ngFor="let inventory of inventories">
          <td>
            <h6>{{inventory.id}}</h6>
          </td>
          <td>
            <h6>{{inventory.item.name}}</h6>
          </td>
          <td>
            <h6>${{inventoryService.makeItemPriceString(inventory.item)}}</h6>
          </td>
          <td>
            <h6>{{inventory.stock}}</h6>
          </td>
          <td>
            <h6>{{inventory.packagedate.substring(0,10)}}</h6>
          </td>
          <td>
            <h6>{{inventory.useby.substring(0,10)}}</h6>
          </td>
          <td><a [routerLink]="['/inventory',inventory.id]" class="btn btn-primary">Edit</a></td>
          <td><a class="btn btn-danger" (click)="deleteInventoryAlert(inventory)">Delete</a></td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
  </mdb-card-body>
</mdb-card>
