<div class="text-center center loginPg .background__re" id="loginPg">
  <div class="row">
      <div class="section"></div>
      <h2 class="heading-secondary">Timber & Magnus-TRMS</h2>
      <h4 class="indigo-text">From Noobie To Master</h4>

      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <div id="login_feedback" class="login_feedback card"> </div>
          <div class="card"></div>
          <form class="col s12" method="post">
              <div class='row'>
                  <div class='col s12'>
                  </div>
              </div>

              <div class='row'>
                  <div class='input-field col s12'>
                      <input class='validate' type='text' name='username' id='username' />
                      <label for='username'>Enter your username</label>
                  </div>
              </div>

              <div class='row'>
                  <div class='input-field col s12'>
                      <input class='validate' type='password' name='password' id='password' />
                      <label for='password'>Enter your password</label>
                  </div>
                  <label style='float: right;'>
                      <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                  </label>
              </div>

              <br />
              <div>
                  <div class='row'>
                      <button type='button' id="loginBtn" name='btn_login' class='col s12 btn btn-large waves-effect indigo'
                          onclick='console.log("html")'>Login</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>