<!-- <div class="col-md-6"> -->
<mdb-card>
  <mdb-card-header class="info-color white-text text-center py-4">
    New Order
  </mdb-card-header>
  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
    <div class="mdb-card-title m-2">
      <!-- optional if u like this search better -->
      <form class="d-flex md-form float-right w-vw-20">
        <!-- Default input -->
        <input placeholder="Type your query" aria-label="Search" class="form-control" [(ngModel)]="searchBar" name="ItemSearch" type="text">
        <button class="btn btn-primary btn-sm my-0 p" type="submit">
          <i class="fa fa-search"></i>
        </button>

      </form>
    </div>
    <!-- Form -->
    <form class="text-center" #orderForm="ngForm" (ngSubmit)="checkout()" style="color: #757575;">
      <table class="table inventory">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>In Cart</th>
        </tr>
        <tr *ngFor="let i of items | itemFilter:searchBar">

          <td>{{i.name}}</td>
          <td>
            <input type="number" id="item_{{i.id}}" min="0" value="0">
            <button type="button" class="btn-primary" (click)="add(i)">Add to cart</button>
          </td>
          <td id="{{i.id}}_cart">0</td>
        </tr>
      </table>
      <button type="submit" class="btn btn-primary">Checkout</button>
      <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>  
    </form>
    <!-- Form -->
  </mdb-card-body>
</mdb-card>
<!-- </div> -->
