<div class="row mt-5">
  <div class="col-md-12">
    <div class="card card-cascade narrower mt-5">
      <div class="view gradient-card-header blue darken-2">
        <h4 class="h4-responsive text-white">Inventory Items</h4>
      </div>
                       <!--Table-->
                       <table class="table table-striped">

                          <!--Table head-->
                          <thead class="mdb-color darken-3">
                              <tr class="text-white">
                                  <th>ID</th>
                                  <th>Item</th>
                                  <th>Package Date</th>
                                  <th>Use By</th>
                                  <th>Stock</th>
                              </tr>
                          </thead>
                          <!--Table head-->
                          <tbody>
                            <th scope="row"></th>
                          </tbody>
                          <!--Table body-->
                      </table>
                      <!--Table-->

    </div>
  </div>
</div>