<mdb-card>
  <mdb-card-body>
    <!-- <div class="row mt-5"> -->
    <mdb-card-title class="blue darken-2">
          <h1 id="title" class="h1-responsive  title">Inventory Items</h1>

            <a [routerLink]="['/employee/inventory/add']" class="btn btn-danger addbutton">
              Add To Inventory</a>

    </mdb-card-title>

    <!-- <div class="card card-cascade narrower mt-5">
        <div class="view gradient-card-header blue darken-2">
          <h1 id="title" class="h1-responsive text-white">Inventory Items</h1>
          <div id="addbutton">
              <a href="employee/inventory/add" class="btn btn-danger">
              Add To Inventory</a>
              </div>
        </div> -->

      <table class="table table-striped">
        <thead class="mdb-color darken-3">
          <tr class="text-white">
            <th>ID</th>
            <th>Item</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Package Date</th>
            <th>Use By</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <!--Table head-->
        <tbody>
          <tr *ngFor="let inventory of inventories">
            <th scope="row">
              <h5>{{inventory.id}}</h5>
            </th>
            <td>
              <h5>{{inventory.item.name}}</h5>
            </td>
            <td>
              <h5 id="price">${{EmployeeService.makeItemPriceString(inventory.item)}}</h5>
            </td>
            <td>
              <h5>{{inventory.stock}}</h5>
            </td>
            <td>
              <h5>{{inventory.packagedate.substring(0,10)}}</h5>
            </td>
            <td>
              <h5>{{inventory.useby.substring(0,10)}}</h5>
            </td>
            <td><a href="employee/inventory/{{inventory.id}}" class="btn btn-primary">Edit</a></td>
            <td><a href="/employee/inventory" class="btn btn-danger" (click)="EmployeeService.deleteInventoryAlert(inventory)">Delete</a></td>
          </tr>
        </tbody>
      </table>

    <!-- </div> -->
  </mdb-card-body>
</mdb-card>
