<div class="row mt-5">
  <div class="col-md-12">
    <div class="card card-cascade narrower mt-5">
      <div class="view gradient-card-header blue darken-2">
        <h4 class="h4-responsive text-white">Inventory Items</h4>
      </div>
        <table class="table table-striped">
          <thead class="mdb-color darken-3">
              <tr class="text-white">
                  <th>ID</th>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Stock</th>
                  <th>Package Date</th>
                  <th>Use By</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <!--Table head-->
          <tbody>
            <tr *ngFor="let inventory of inventories">
              <th scope="row">{{inventory.id}}</th>
              <td>{{inventory.item.name}}</td>
              <td>${{EmployeeService.makeItemPriceString(inventory.item)}}</td>
              <td>{{inventory.stock}}</td>
              <td>{{inventory.packagedate.substring(0,10)}}</td>
              <td>{{inventory.useby.substring(0,10)}}</td>
              <td><button class="btn btn-primary" (click)="editInventory()">Edit</button></td>
              <td><button class="btn btn-danger" (click)="deleteInventoryAlert()">Delete</button></td>
            </tr>  
          </tbody>
      </table>
    </div>
  </div>
</div>