<div id="innerE" *ngIf="usertype!=2">
  <div class="card mb-4 wow fadeIn">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
      <h4 class="mb-sm-0">
        Dashboard
      </h4>
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <a *ngIf="usertype===1" class="btn btn-primary waves-light nav-link float-right ml-1" [routerLink]="['/users/employee']"
          mdbWavesEffect>Employee</a>
        <a *ngIf="usertype!=2" class="btn btn-primary waves-light nav-link float-right ml-1" [routerLink]="['/users/customer']"
          mdbWavesEffect>Customer</a></div>
    </div>
  </div>
  <div>
    <app-stats-card></app-stats-card>
    <div class="row wow fadeIn mt-4">
      <!--Grid column-->
      <div class="col-md-9 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <div class="card-body">
            <div style="display: block">
              <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
                [options]="chartOptions" [legend]="true">
              </canvas>
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <!--Card content-->
          <div class="card-body">
            <!-- List group links -->
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action waves-effect">Sales
                <span class="badge badge-success badge-pill pull-right">22%
                  <i class="fa fa-arrow-up ml-1"></i>
                </span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Profit
                <span class="badge badge-success badge-pill pull-right">8%
                  <i class="fa fa-arrow-up ml-1"></i>
                </span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Inventory Level
                <span class="badge badge-info badge-pill pull-right">65%</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Orders
                <span class="badge badge-primary badge-pill pull-right">14</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Issues
                <span class="badge badge-danger badge-pill pull-right">1</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Messages
                <span class="badge badge-primary badge-pill pull-right">8</span>
              </a>
            </div>
            <!-- List group links -->
          </div>
        </div>
      </div>
      <!--/.Card-->
      <!--Grid column-->
    </div>
  </div>
</div>
<div id="customerDash" *ngIf="usertype === 2">

  <app-stats-card2></app-stats-card2>

  <!-- <div class="row wow fadeIn mt-4"> -->
  <mdb-card class="wow fadeIn mt-4">
    <mdb-card-body>
      <mdb-card-title>
        <h4>Orders</h4>
      </mdb-card-title>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price (each)</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.id}}</th>
            <td>{{order.address}}</td>
            <td>{{order.name}}</td>
            <td>{{order.amount}}</td>
            <td>${{order.price}}</td>
            <td>${{order.total}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
  <!-- </div> -->
</div>
