<!--Main Navigation-->
<div *ngIf="isLoggedIn$ | async">
  <header class="navbar-custom">
    <!-- Sidebar -->
    <!-- <div class="sidebar-fixed position-fixed">
        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/corgi-cartoon-png-1.png" class="img-fluid" alt="">
        </a>
        <div class="list-group list-group-flush">
            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Dashboard</a>
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user mr-3"></i>Profile</a>
            <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-table mr-3"></i>Orders</a>
            <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-map mr-3"></i>Inventory</a>
        </div>
    </div> -->
    <!-- Sidebar -->
    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light ">
      <!-- Navbar brand -->
      <logo class="ml-3">
        <a class="logo-wrapper waves-effect" [routerLink]="['/dashboard']">
          <img src="assets/img/corgi-cartoon-png-1.png" class="img-fluid logo-corgi" alt="corgi">
        </a>
      </logo>
      <!-- Collapsible content -->
      <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link white-text" [routerLink]="['/dashboard']" mdbWavesEffect>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white-text" [routerLink]="['/orders']" mdbWavesEffect>Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white-text" [routerLink]="['/employee/inventory']" mdbWavesEffect>Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white-text" [routerLink]="['/profile']" mdbWavesEffect>Profile</a>
          </li>
        </ul>
        <!-- new ul -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()" class="ml-1 nav-link white rounded danger-color-dark white-text"
              mdbWavesEffect>Log Out</a>
          </li>
        </ul>
        <!-- Links -->
      </links>
      <!-- Collapsible content -->
      <!-- <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown
        </button>
    
        <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div> -->
    </mdb-navbar>
    <!--/.Navbar-->
  </header>
</div>
<!--Main Navigation-->
