<section class="mt-lg-5">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4 mb-r mt-2">

      <!--Card-->
      <div class="card card-cascade cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <i class="fa fa-money primary-color"></i>
          <div class="data">
            <p>Budget Left</p>
            <h4><strong>$1200</strong></h4>
          </div>
        </div>

        <!--Card content-->
        <div class="card-body">
          <p class="card-text">Try to keep it positive</p>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r mt-2">

      <!--Card-->
      <div class="card card-cascade cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <i class="fa fa-line-chart warning-color"></i>
          <div class="data">
            <p>Projected Sales</p>
            <h4><strong>$4823.51</strong></h4>
          </div>
        </div>

        <!--Card content-->
        <div class="card-body">
          <p class="card-text">Based on last year.</p>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r mt-2">

      <!--Card-->
      <div class="card card-cascade cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <i class="fa fa-pie-chart light-blue lighten-1"></i>
          <div class="data">
            <p>Profit / Loss last week</p>
            <h4><strong>($541.22)</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <div class="card-body">
          <p class="card-text">Look at the prep sheet</p>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

</section>
